@charset "UTF-8";
/* リンクの設定 */
a, a:visited, a:active, a:hover {
  text-decoration: none;
}
/*リストスタイル設定*/
ul, ol {
  list-style: none;
}

/*共通部分*/
.title {
  font-family: Oswald, sans-serif;
  color: #000;
  height: 130px;
}
.title h1 {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 34px;
  font-weight: 400;
  line-height: 21px;
  padding-top: 75px;
  padding-bottom: 25px;
}
.title img {
  width: 120px;
  position: absolute;
  top: 25px;
}
.title .slash {
  width: 50px;
  border-top: #000 1px solid;
  -webkit-transform: rotate(55deg);
          transform: rotate(55deg);
  position: absolute;
  left: 46%;
  top: 130px;
  z-index: 60;
}

.slide {
  padding-bottom: 10px;
  background-color: #F0F0F0;
}
.slide .slick img {
  height: 230px;
  width: 100%;
}

.title_2 h1 {
  color: #fff;
  font-family: Oswald, sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 16px;
  padding-bottom: 20px;
}
.title_2 img {
  width: 75px;
  position: absolute;
  top: 5px;
  right: -5px;
  z-index: 40;
}

.btn a {
  background-color: #fff;
  color: #000;
  width: 100%;
  height: 40px;
  font-family: Oswald, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  display: inline-block;
}
.btn a span {
  line-height: 40px;
  float: right;
  padding-right: 15px;
  font-size: 15px;
}

.title_b {
  padding-bottom: 35px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  transition: all 0.5s;
}
.title_b h2 {
  font-size: 28px;
  font-weight: 500;
  line-height: 80px;
  padding-bottom: 5px;
}
.title_b p {
  font-size: 20px;
  font-weight: 500;
  line-height: 27px;
  color: #fff;
}
.title_b p .keyword {
  font-size: 28px;
  font-weight: 500;
  line-height: 50px;
  font-weight: 900;
  color: #0480bb;
}

.slideup {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media screen and (min-width: 630px) {
  .sp {
    display: none;
  }
}
.all_container {
  position: relative;
  overflow: hidden;
}

.loader_container {
  background-color: black;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  z-index: 1001;
}

.loader {
  border: 1px solid #fafafa;
  border-radius: 50%;
  border-top: 1px solid #000;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    opacity: 0.4;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    opacity: 0.4;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
}
/*========================
header
========================*/
.header {
  position: absolute;
}
.header .header_container {
  /*
  ハンバーガーメニューがクリックされた際に、jQueryでactiveクラスを追加して、
  メニューを表示させる。
  */
  /* 2本目と3本目は重ねて45度回転 */
}
.header .header_container .header_upper {
  width: 215px;
  height: 100vh;
  background-color: #000;
  color: #fff;
  position: fixed;
  overflow: hidden;
  z-index: 999;
  top: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  transition: all 0.3s ease;
  padding-left: 40px;
  padding-top: 95px;
}
.header .header_container .header_upper .header_list {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding-bottom: 55px;
}
.header .header_container .header_upper .header_list li {
  margin-bottom: 10px;
  font-family: Oswald, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}
.header .header_container .header_upper .header_list li a {
  color: #000;
  text-shadow: 1px 1px 0 #FFF, -1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px -1px 0 #FFF, 0px 1px 0 #FFF, -1px 0 #FFF, -1px 0 0 #FFF, 1px 0 0 #FFF;
}
@media screen and (max-width: 750px) {
  .header .header_container .header_upper .header_list li a {
    color: #fff;
    text-shadow: initial;
  }
}
.header .header_container .header_upper .header_list li:nth-of-type(5) {
  margin-bottom: 60px;
}
.header .header_container .header_upper.active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
.header .header_container .hamburger {
  width: 60px;
  height: 60px;
  background-color: #000;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  transition: 0.2s;
  opacity: 1;
  /* 1本目の線の位置を設定 */
  /* 2本目の線の位置を設定 */
  /* 3本目の線の位置を設定 */
}
.header .header_container .hamburger:hover {
  opacity: 0.7;
}
.header .header_container .hamburger span {
  width: 20px;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 20px;
  transition: 0.3s ease-in-out;
}
.header .header_container .hamburger span:nth-child(1) {
  top: 23px;
}
.header .header_container .hamburger span:nth-child(2) {
  top: 30px;
}
.header .header_container .hamburger span:nth-child(3) {
  top: 37px;
}
.header .header_container .hamburger.active span:nth-child(1) {
  top: 30px;
  left: 20px;
  background: #fff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.header .header_container .hamburger.active span:nth-child(2),
.header .header_container .hamburger.active span:nth-child(3) {
  top: 30px;
  background: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

/*---------------
hero
-----------------*/
.hero .hero_container {
  position: relative;
  /*上に上がる動き*/
  /*下に下がる動き*/
}
.hero .hero_container .hero_img {
  position: relative;
  width: 100%;
  /*幅、高さは任意*/
  height: 100vh;
  margin: auto;
  overflow: hidden;
}
.hero .hero_container .hero_img .bgImg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-animation: bgAnime 20s infinite;
          animation: bgAnime 20s infinite;
  -webkit-transform: scale(120%, 120%);
          transform: scale(120%, 120%);
}
.hero .hero_container .hero_img .src1 {
  background-image: url(../img/mv_bg01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero .hero_container .hero_img .src2 {
  background-image: url(../img/mv_bg02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}
.hero .hero_container .hero_img .src3 {
  background-image: url(../img/mv_bg03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}
.hero .hero_container .hero_img .src4 {
  background-image: url(../img/mv_bg04.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}
.hero .hero_container .hero_logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 180px;
  z-index: 1002;
}
.hero .hero_container .hero_logo .logo_1 {
  display: none;
}
.hero .hero_container .hero_logo .logo_2 {
  display: none;
}
.hero .hero_container a {
  display: none;
}
.hero .hero_container .bottom_logo {
  position: fixed;
  bottom: 15px;
  right: 20px;
  z-index: 999;
}
.hero .hero_container .bottom_logo img {
  width: 150px;
}
.hero .hero_container .bottom_logo.UpMove {
  -webkit-animation: UpAnime 0.5s forwards;
          animation: UpAnime 0.5s forwards;
}
.hero .hero_container .bottom_logo.DownMove {
  -webkit-animation: DownAnime 0.5s forwards;
          animation: DownAnime 0.5s forwards;
}

@-webkit-keyframes UpAnime {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes UpAnime {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes DownAnime {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}
@keyframes DownAnime {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}
@-webkit-keyframes bgAnime {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  60% {
    -webkit-transform: scale(100%, 100%);
            transform: scale(100%, 100%);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes bgAnime {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  60% {
    -webkit-transform: scale(100%, 100%);
            transform: scale(100%, 100%);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/*========================
main concept
========================*/
.concept .concept_container {
  position: relative;
}
.concept .concept_container .title img {
  right: -20px;
}
.concept .concept_container .concept_bg {
  background-color: #ECECEC;
  padding-bottom: 40px;
}
.concept .concept_container .concept_bg img {
  width: 100%;
  height: 230px;
  padding-bottom: 30px;
}
.concept .concept_container .concept_bg .concept_text {
  margin-left: 20px;
  margin-right: 20px;
  background-color: #fff;
  padding: 30px 20px 15px 20px;
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "ＭＳ ゴシック", sans-serif;
}
.concept .concept_container .concept_bg .concept_text h3 {
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  padding-bottom: 10px;
}
.concept .concept_container .concept_bg .concept_text p {
  padding-bottom: 5px;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
}

/* ------------
concept_bottom
--------------*/
.concept_bottom_container {
  position: relative;
  padding-top: 95px;
  padding-bottom: 95px;
}
.concept_bottom_container .concept_bottom_text {
  text-align: center;
}
.concept_bottom_container .concept_bottom_text h1 {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  font-size: calc(20px + 26 * (100vw - 320px)/430);
  line-height: calc(20px + 26 * (100vw - 320px)/430);
  color: #1395ac;
  padding-bottom: 15px;
  letter-spacing: 2px;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  transition: all 0.5s;
}
.concept_bottom_container .concept_bottom_text h1.slideup {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.concept_bottom_container .concept_bottom_text p {
  font-size: 15px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 1px;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  transition: all 0.5s;
}
.concept_bottom_container .concept_bottom_text p.slideup {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.concept_bottom_container .concept_bottom_img .hbi1 {
  position: absolute;
  width: 105px;
  top: 20px;
  left: 0;
}
.concept_bottom_container .concept_bottom_img .hbi2 {
  position: absolute;
  width: 105px;
  bottom: 35px;
  right: 30px;
}
.concept_bottom_container .concept_bottom_img .hbi3 {
  display: none;
}
.concept_bottom_container .concept_bottom_img .hbi4 {
  display: none;
}

/* ------------
flow
--------------*/
.flow {
  position: relative;
  color: #fff;
}
.flow .flow_bv1 {
  background-image: url(../img_2/bv.png);
  background-repeat: repeat;
  background-size: cover;
  margin-bottom: 60px;
}
.flow .flow_container {
  padding: 60px 50px;
}
.flow .flow_container .title_b p {
  color: #fff;
}
.flow .flow_container .flow_wrap {
  position: relative;
}
.flow .flow_container .flow_wrap .flow_content .flow_title {
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 15px;
  position: relative;
}
.flow .flow_container .flow_wrap .flow_content .flow_title p {
  font-size: 13px;
  font-weight: 500;
  line-height: 21px;
  padding-bottom: 10px;
}
.flow .flow_container .flow_wrap .flow_content .flow_title img {
  width: 45px;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  transition: all 0.5s;
}
.flow .flow_container .flow_wrap .flow_content .flow_title .slideup {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.flow .flow_container .flow_wrap .flow_content .flow_title:after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  height: 2px;
  background: #fff;
  width: 100%;
  transition: all 0.5s;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}
.flow .flow_container .flow_wrap .flow_content .flow_title.under_line:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.flow .flow_container .flow_wrap .flow_content .flow_text {
  padding-bottom: 35px;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  transition: all 0.5s;
}
.flow .flow_container .flow_wrap .flow_content .flow_text p {
  font-size: 18px;
  font-weight: 900;
  line-height: 21px;
}
.flow .flow_container .flow_wrap .flow_content .slideup {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.flow .flow_container .flow_wrap .arrow {
  border-style: solid;
  border-width: 0 3px 3px 0;
  content: "";
  display: inline-block;
  position: absolute;
  height: 10px;
  width: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
}
.flow .flow_container .flow_wrap .fc2 {
  padding-top: 45px;
}
.flow .flow_bv2 {
  padding: 0px 50px 50px;
  background-image: url(../img_2/bv_2.jpg);
  background-repeat: no-repeat;
  background-position: right 60px;
}
@media screen and (max-width: 630px) {
  .flow .flow_bv2 {
    background-position: right 130px;
  }
}
.flow .flow_bv2 .title_b h2 {
  color: #000;
  line-height: 50px;
  font-weight: 900;
}
.flow .flow_bv2 .title_b p {
  color: #000;
}
.flow .flow_bv2 .flow_wrap {
  position: relative;
}
.flow .flow_bv2 .flow_wrap .flow_content {
  padding-top: 100px;
}
.flow .flow_bv2 .flow_wrap .flow_content .flow_title {
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 15px;
  position: relative;
}
.flow .flow_bv2 .flow_wrap .flow_content .flow_title p {
  font-size: 24px;
  font-weight: 500;
  line-height: 21px;
  padding-bottom: 10px;
  color: #000;
}
.flow .flow_bv2 .flow_wrap .flow_content .flow_title .slideup {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.flow .flow_bv2 .flow_wrap .flow_content .flow_title:after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  height: 2px;
  background: #000;
  width: 100%;
  transition: all 0.5s;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}
.flow .flow_bv2 .flow_wrap .flow_content .flow_title.under_line:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.flow .flow_bv2 .flow_wrap .flow_content .flow_text {
  padding-bottom: 35px;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  transition: all 0.5s;
}
.flow .flow_bv2 .flow_wrap .flow_content .flow_text p {
  font-size: 18px;
  font-weight: 900;
  line-height: 21px;
  color: #000;
}
.flow .flow_bv2 .flow_wrap .flow_content .slideup {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.flow .flow_bv2 .flow_wrap .arrow {
  border-style: solid;
  border-width: 0 3px 3px 0;
  content: "";
  display: inline-block;
  position: absolute;
  height: 10px;
  width: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
}

/*========================
main staff
========================*/
.staff .staff_container {
  position: relative;
}
.staff .staff_container .title img {
  left: 0;
}

.staff_item {
  margin-top: 50px;
  margin: 50px auto;
}
.staff_item .ryoku, .staff_item .aoi, .staff_item .luwaak {
  text-align: center;
}
.staff_item a {
  display: block;
}
.staff_item p {
  text-align: center;
  padding: 50px;
  color: #000;
  font-size: 24px;
}
.staff_item img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
}

/*========================
main salon
========================*/
.salon .salon_container {
  position: relative;
}
.salon .salon_container .title img {
  right: 0;
}
/*----------
salon_menu
----------*/
.salon_menu {
  background-color: #f0f0f0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}
.salon_menu .salon_wrap {
  padding: 30px 15px 0 15px;
  background-color: #fff;
  margin-bottom: 10px;
  height: 300px;
  width: 100%;
  box-sizing: border-box;
}
.salon_menu .salon_wrap .gender h2 {
  font-family: Lato, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  padding-bottom: 25px;
}
.salon_menu .salon_wrap .salon_menu_content {
  display: grid;
  grid-template-columns: repeat 2, auto;
  justify-content: space-between;
}
.salon_menu .salon_wrap .salon_menu_content p {
  padding-bottom: 10px;
}
.salon_menu .salon_wrap .salon_menu_content .cut {
  font-family: Lato, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 13px;
  grid-column: 1;
  grid-row: 1;
}
.salon_menu .salon_wrap .salon_menu_content .price {
  font-family: Lato, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 13px;
  grid-column: 2;
  grid-row: 1;
  text-align: right;
}
.salon_menu .salon_wrap .salon_menu_content .other .other_text {
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "ＭＳ ゴシック", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
  color: #7f7f7f;
  grid-column: 1/3;
  grid-row: 2;
  padding-bottom: 5px;
  width: 100%;
}
.salon_menu .salon_text {
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "ＭＳ ゴシック", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
  color: #7f7f7f;
  padding-bottom: 5px;
}

/*========================
collection
========================*/
.collection {
  background-color: #ddd;
}
.collection .collection_container {
  padding: 35px 20px 40px 20px;
  position: relative;
}
.collection .collection_item {
  display: grid;
  grid-template-columns: repeat 2, auto;
  gap: 20px 10px;
  padding-bottom: 75px;
}
.collection .collection_item img {
  width: 100%;
}
.collection .collection_item img:nth-of-type(odd) {
  grid-column: 2;
}
.collection .collection_item img:nth-of-type(even) {
  grid-column: 1;
}
.collection .collection_item img:nth-of-type(1),
.collection .collection_item img:nth-of-type(11) {
  grid-column: 1/3;
}
.collection .collection_item img:nth-of-type(17) {
  grid-column: 2;
  grid-row: 6;
}
.collection .collection_item img:nth-of-type(19) {
  grid-column: 2;
  grid-row: 10/12;
}

/*========================
access
========================*/
.access {
  position: relative;
}
.access .access_wrap .access_container {
  padding: 35px 20px;
}
.access .access_wrap .access_container .title_2 h1 {
  color: #000;
  padding-bottom: 15px;
}
.access .access_wrap .access_container .google_map {
  padding-bottom: 15px;
}
.access .access_wrap .access_container .google_map iframe {
  width: 100%;
  height: 235px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
.access .access_wrap .access_container .access_text h2 {
  font-family: Oswald, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 14px;
  padding-bottom: 15px;
}
.access .access_wrap .access_container .access_text .address {
  padding-bottom: 15px;
}
.access .access_wrap .access_container .access_text .address p {
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "ＭＳ ゴシック", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
.access .access_wrap .access_container .access_text .time {
  padding-bottom: 15px;
}
.access .access_wrap .access_container .access_text .time h3 {
  font-family: Oswald, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 19px;
  padding-bottom: 5px;
}
.access .access_wrap .access_container .access_text .time .time_box {
  display: flex;
}
.access .access_wrap .access_container .access_text .time .time_box p {
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "ＭＳ ゴシック", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 19px;
}
.access .access_wrap .access_container .access_text .time .time_box .salon_cafe {
  padding-right: 30px;
}
.access .access_wrap .access_container .btn a {
  background-color: #000;
  color: #fff;
}

/*========================
footer
========================*/
footer {
  background-color: #000;
}
footer .footer_container {
  padding-top: 0px;
  padding-bottom: 15px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
footer .footer_container .footer_logo {
  position: relative;
}
footer .footer_container .footer_logo p {
  color: #fff;
  font-size: 30px;
  letter-spacing: 3px;
  position: absolute;
  top: 60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
footer .footer_container .footer_logo img {
  width: 500px;
  padding-bottom: 20px;
}
footer .footer_container > p {
  color: #fff;
  position: absolute;
  top: 200px;
  left: 50%;
  white-space: nowrap;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  line-height: 1.5;
  letter-spacing: 2px;
  font-size: 18px;
}
footer .footer_container .sns {
  padding: 20px;
}
footer .footer_container .sns ul li a .desvg path {
  width: 100px;
  height: 100px;
  fill: #fff;
  stroke-width: 1;
}
footer .footer_container small {
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */